{% extends "base.html" %}

{% block content %}
	<style>
		input, label{
			display:block;
		}
		.editinfo{
		}
	</style>
	
	<h1>Profile Updated</h1>

	<div class="bg rounded-4 py-5 px-4 px-md-5">
		<div class="row gx-5 justify-content-center">
			<div class="col-lg-8 col-xl-6">
			
				<span>Username: {{info.username}}</span>
				<span>Email: {{info.email}}</span>
				<br><br>

				<div class='editinfo'>
					<div>Display Name: {{info.displayname}}</div><br>
					<div>Phone Number: {{info.phone_number}}</div><br>
					{% if info.role_id == 1 %}
						<div>Genre: {{info.genre_type}}</div><br>
						<div>Hourly Rate: {{info.rate}}</div><br>
						<div>Description: {{info.description}}</div><br>
					{% endif %}
				</div>
			</div>
		</div>
	</div>
		


{% endblock %}