{% extends "base.html" %}

{% block content %}

	<h1> Create a New Account</h1>
	<br><br>
	

	<form method='POST'> {% csrf_token %}
	{{ cred.as_p }}
	{{ info.as_p }}
	<input id='submit' type='submit' value='Submit' />
	</form>
	
	<script>
		const roleEle = document.getElementById('id_role')
		const venueEle = document.getElementById('id_venue')
		const submitEle = document.getElementById('submit')
		var agreed = false;
		
		//set intial values
		var bookView='none'; //defualt is to not show venue fields
		
		//hide or show fields depending on what's currently selected.
		switchrole();
		switchcreatevenue();
		
		//initial listeners
		roleEle.addEventListener('change',switchrole);
		venueEle.addEventListener('change',switchcreatevenue);
		submitEle.addEventListener('click',agreetext);
		
		//shows or hides venue data fields depending on what's in the venue dropdown
		function switchcreatevenue()
		{
			let createnewView = null;//shows all elements
			
			if(venueEle.value == "0" && bookView == null)
				createnewView=null; //shows all venue data fields options
			else
				createnewView='none'; //hides all venue data fields options

			//apply to all elements
			document.getElementById('id_venuename').parentElement.style.display = createnewView;
			document.getElementById('id_venueemail').parentElement.style.display = createnewView;
			document.getElementById('id_venueaddress').parentElement.style.display = createnewView;
			document.getElementById('id_venuephone').parentElement.style.display = createnewView;
		}
		
		//shows or hides performer and booker data fields depending on what's in the role dropdown
		function switchrole()
		{
			let performView = null;//shows all elements
			bookView = null;//shows all elements
			
			if(roleEle.value == "perform")
				bookView='none'; //hides all booker options
			else if(roleEle.value == "book")
				performView='none'; //hides all booker options

			//apply to all elements
			document.getElementById('id_genre').parentElement.style.display = performView;
			document.getElementById('id_description').parentElement.style.display = performView;
			document.getElementById('id_rate').parentElement.style.display = performView;
			document.getElementById('id_averagegigs').parentElement.style.display = performView;
			document.getElementById('id_venue').parentElement.style.display = bookView;
			
			//show or hide the rest of the bookers view depending on what's selected in the venue dropdown
			switchcreatevenue();
		}
		
		function agreetext()
		{
			if(!agreed)
				alert("Thank you for being a part of the first Beta test of “Gavin Booking” .The personal information you have entered will be used by music venues to contact you if needed or by the Gavin Booking staff to collect information to improve the site. This contact information will not be used for any other purpose without first requesting consent.");
			agreed=true;
		}
	</script>

{% endblock %}