{% extends "base.html" %}

{% block content %}

<style>

table th, table th * {

    text-align: left;
}
</style>

	<h1>Roster</h1>

	<!-- display roster info -->
	<table>
		<tr>
			<th>Name&nbsp&nbsp</th>
			<th>Rate&nbsp&nbsp</th>
			<th>Email&nbsp&nbsp</th>
			<th>Phone Number&nbsp&nbsp</th>
			<th>Genre&nbsp&nbsp</th>
			<th>Description</th>
		</tr>
		{% for performer in roster%}
			<tr>
				<td>
					<a href="/roster/{{ performer.performer_id }}">
					{{ performer.displayname }}&nbsp&nbsp
					</a>
				</td>
				<td>{{ performer.rate }}&nbsp&nbsp</td>
				<td>{{ performer.email }}&nbsp&nbsp</td>
				<td>{{ performer.phone_number }}&nbsp&nbsp</td>
				<td>{{ performer.genre_type }}&nbsp&nbsp</td>
				<td>{{ performer.description }}</td>
			</tr>
		{% endfor %}
	</table>
	<form method='POST'> {% csrf_token %}
	{{ form }}
	<input type='submit' value='Add' />
	</form>

		





{% endblock %}