{% extends "base.html" %}

{% block content %}
	{% load static %}
	
	<style>
		/*Desktop phones*/
		@media screen and (min-width: 901px) {
			.mb {
				display: none;
			}
		}
		
		/*Mobile phones*/
		@media screen and (max-width: 900px) {
			.desktop {
				display: none;
			}
			label {
				display: none;
			}
		}
	</style>
	
	<h1>Roster</h1>
	<br>

	<!-- display desktop roster info -->
	<table class="tablelist desktop">
		<tr>
			<th>Remove</th>
			<th>Name</th>
			<th>Hr Rate</th>
			<th>Email</th>
			<th>Phone Number</th>
			<th>Genre</th>
			<th>Description</th>
		</tr>
		{% for performer in roster%}
			<tr>
				<td>
					<!--this is the Remove button-->
					<a href="/roster/delete/{{ performer.performer_id }}" id = "{{ performer.performer_id|slugify|add:'Del'}}"></a>
					<a href="javascript:confirmDelete('{{ performer.performer_id|slugify|add:'Del'}}','{{ performer.displayname }}');" class="nav-items">
						<img class='icon' src="{% static 'images/delicon.png' %}">
					</a>
					
				</td>
				<td>
					<a href="/roster/{{ performer.performer_id }}">
					{{ performer.displayname }}
					</a>
				</td>
				<td>{{ performer.rate }}</td>
				<td>{{ performer.email }}</td>
				<td>{{ performer.phone_number }}</td>
				<td>{{ performer.genre_type }}</td>
				<td>{{ performer.description }}</td>
			</tr>
		{% endfor %}
	</table>
	
	<div class="bg rounded-4 py-5 desktop">
		<div class="row gx-5 justify-content-left">
			<div class="col-lg-8 col-xl-6">
				<form style='padding: 20px; display:inline-flex; width: 600px;' method='POST'> {% csrf_token %}
				{{ form }}&emsp;
				<input class="form-control" style="width: 100px;" type='submit' value='Add' />
				</form>
				
				<br>
				<span style='padding-left: 20px;'>Can't find a certain performer?</span><br>
				<a style='padding-left: 20px;' href="/roster/invite">Click to Invite a Performer</a>
				<br><br><br>
			</div>
		</div>
	</div>
	
	<!-- display Mobile roster info-->
	<table class="tablelist mb">
		<tr>
			<th>Del</th>
			<th style="padding-left: 0px;">Performer</th>
		</tr>
		{% for performer in roster%}
			<tr>
				<td>
					<!--this is the Remove button-->
					<a href="/roster/delete/{{ performer.performer_id }}" id = "{{ performer.performer_id|slugify|add:'Del'}}"></a>
					<a href="javascript:confirmDelete('{{ performer.performer_id|slugify|add:'Del'}}','{{ performer.displayname }}');" class="nav-items">
						<img class='icon' src="{% static 'images/delicon.png' %}">
					</a>
					
				</td>
				<td style="width: 100%;padding-bottom: 10px;padding-left: 0px;">
					<div style="display: flex; justify-content:space-between;">
						<span style="">
							<a href="/roster/{{ performer.performer_id }}">
							{{ performer.displayname }}
							</a>
						</span>
						<span style="padding-left: 10px;">${{ performer.rate }}/Hr</span>
						<span style="padding-left: 10px;padding-right: 10px;">{{ performer.genre_type }}</span>
					</div>
						{{ performer.email }}<br>
						{{ performer.phone_number }}<br>
						{{ performer.description }}
				</td>
			</tr>
		{% endfor %}
	</table>
	
	<div class="bg rounded-4 py-5 mb">
		<div class="row gx-5 justify-content-center">
			<div class="col-lg-8 col-xl-6">
				<form style="padding: 20px; display:inline-flex;width: 100%;" method='POST'> {% csrf_token %}
				{{ form }} &emsp;
				<input class="form-control" style="width: 100px;" type='submit' value='Add' />
				</form>
				
				<br>
				<span style='padding-left: 20px;'>Can't find a certain performer?</span><br>
				<a style='padding-left: 20px;' href="/roster/invite">Click to Invite a Performer</a>
				<br><br><br>
			</div>
		</div>
	</div>
	<!--end mobile display-->
	
	

		

	<script>
	//this is called for each Del button click
	function confirmDelete(href_id, displayname)
	{
		message = "";
		message = message.concat("You are about to remove ", displayname, " from your roster. Click OK to confirm");
		if(confirm(message))
		{
			window.location = document.getElementById(href_id).href;
		}
	}
	</script>



{% endblock %}