{% extends "base.html" %}

{% block content %}

<style>
table td, table td * {
    vertical-align: top;
	width: 25px;
}
table th, table th * {
    vertical-align: top;
	width: 70px;
    text-align: left;
}
</style>

	<h1> Calendar</h1>
	<br><a href="/schedule/{{ month.previousyear }}/{{ month.previousmonth }}">previous</a> 
	<a href="/schedule/{{ month.nextyear }}/{{ month.nextmonth }}">next</a>

	<h2>{{ month.monthname }} {{ month.year }}</h2>
	<table style="width:100%">
	<!-- The header row of the calendar are the days of the week -->
	<tr>
	{% for weekday in month.weekdays %}
		<th>{{weekday}}</th>
	{% endfor %}
	</tr>
	{% for week in month.cal_data %}
		<!-- This row displays the date of the week -->
		<tr>	
		{% for day in week %}
			<td>
			{% if day != None %}
				{{ day.date }} <br>
			{% endif %}
			</td>
		{% endfor %}
		</tr>
		<!-- This row displays all events on each day -->
		<tr style="height:100px">	
		{% for day in week %}
			<!-- This adds events for current day -->
			<td>
			{% if day != None %}
				{% if role != 2 %}<!--  Add button, not for Bookers -->
					<a href="/schedule/add/{{ month.year }}/{{ month.month }}/{{ day.date }}">Add</a>
					<br>
				{% endif %}
				{% for event in day.events %}
					<!-- display availability times -->
					<a href="/schedule/detail/{{ event.id }}">
					{{ event.displayname }}				<!--  Performer Name -->
					{{ event.start }} - {{ event.end }} <!--  times -->
					{% if event.status != None %}		<!--  Status of booking -->
						{{ event.status }}
					{% endif %}</a><br><br>
				{% endfor %}
				<br>
			{% endif %}
			</td>
		{% endfor %}
		</tr>
	{% endfor %}
	</table>


{% endblock %}