{% extends "base.html" %}

{% block content %}

	{% load static %}
	<link rel="stylesheet" href="{% static 'css/timeinput.css' %}">
	<br><br>
	
	{% if obj.status_type != None %}
		<!-- display booking info. aka, There is a booking -->
		<h3>Venue Information</h3>
		<table class="tablelist">
			<tr>
				<th>Venue</th>
				<th>Address</th>
				<th>Booker</th>
				<th>Email</th>
				<th>Phone Number</th>
			</tr>
			<tr>
				<td>{{ obj.name }}</td>
				<td>{{ obj.address }}</td>
				<td>{{ obj.displayname }}</td>
				<td>{{ obj.email }}</td>
				<td>{{ obj.phone_number }}</td>
			</tr>
		</table>
		<br><br>
		<h3>Booking Information</h3>
		<table class="tablelist">
			<tr>
				<th>Status</th>
				<th>Start Time</th>
				<th>End Time</th>
				<th>Payment</th>
				<th>Condition</th>
			</tr>
			<tr>
				<td>{{ obj.status_type }}</td>
				<td>{{ obj.start_time }}</td>
				<td>{{ obj.end_time }}</td>
				<td>{{ obj.payment }}</td>
				<td>{{ obj.condition }}</td>
			</tr>
		</table>	
		<br><br>
		
		{% if obj.status_id == 1 %} <!-- status id of 1 is 'Offered'-->
			<form style='padding-left: 20px;'method='POST'> {% csrf_token %}
				<input type='submit' name='accept' value='Accept' />
				<input type='submit' name='decline' value='Decline' />
			</form>
		{% endif %}

	{% else %}
		<!-- display availability info. Aka, there is no booking yet, just availablity -->
		<h3>Availability Information</h3>
		<table class="tablelist">
			<tr>
				<th>Start Time</th>
				<th>End Time</th>
				<th>Location</th>
			</tr>
			<tr>
				<td>{{ obj.start_time }}</td>
				<td>{{ obj.end_time }}</td>
				<td>{{ obj.location }}</td>
			</tr>
		</table>
		
		<br><br>
		
		<!-- Delete button to delete availability (assuming it's not associated with a booking-->
		<form style='padding-left: 20px;' method='POST'> {% csrf_token %}
			<input type='submit' name='delete' value='Delete' />
		</form>
		
	{% endif %}




{% endblock %}