<!doctype html>
<html>
<head>
	<title> Gavin </title>
</head>

<body>
	<style>
		.errorlist{
			color: red;
		}
		label {
			vertical-align: top;
		}
		table.tablelist th, table.tablelist td{
			text-align: left;
			padding-right: 10px;
			vertical-align: top;
		}
	</style>
	{% include 'navbar.html' %}
	
	{% if messages %}
		{% for message in messages %}
			<br>{{ message }}
		{% endfor %}
	{% endif %}
	<div style="text-align: right; float:right; padding-right:20px;">
		<a href="/metrics/problem">Report a Suggestion/Problem</a>
	</div>
	
	{% block content %}
	{% endblock %}
</body>

</html>