<style>

a:link {
	text-decoration: none;
}
a:hover {
	color: #ADD8E6;
	text-decoration: none;
}
a:active {
	color: #0000FF;
	text-decoration: none;
}
.nav-bar {
	background-color: #04571B;   /**/
	padding-top: 15px;
	padding-bottom: 20px;
	padding-left: 20px;
	font-family: "Arial", "sans-serif";
}
.nav-items{
	color: #F8F8FF;
}
.logo{
	height: 63px; /* this depends on the padding from nav-bar. This should match the absolute height of the banner*/
}
.icon{
	height: 25px;
	padding-right: 10px;
}
.icon:hover{

	-webkit-filter: blur(5px); /* Safari 6.0 - 9.0 */
	filter: blur(1px);
}

.menu{
	position: absolute;
	margin: auto;
	top: 63px;
	display: block;
	background-color: #04571B;
	background-color: rgba(4,87,27,.7);
	width: 200px;
	height: 100px;
}
</style>

{% load static %}

<img align="right" style="padding-right:20px;" class="logo" src="{% static 'images/gb_logo.PNG' %}">
<div class="nav-bar">
	{% if user.is_authenticated %}
		<!--The three bar icon-->
		<div class="header-icons" id="MyThreeBar">
			<a href="javascript:ShowUserMenu();">
				<img class="icon" src="{% static 'images/hamburger_icon.PNG' %}" alt="Profile"  align="Left">
			</a>
			<div class="menu" id="MyPopupMenu">
				<div id="myName">
					<div class="nav-items">Logged in as {{ user.username }}</div>
				</div>
				<div id="myUserMenu"">
					<a href="/users/logout_user" class="nav-items">Logout</a>
				</div>
			</div>
		</div>
		
		{% if not perms.auth.can_admin %}
		<!--This is the Calendar Icon-->
			<a href="/" class="nav-items"><img class='icon' src="{% static 'images/calendar_icon.PNG' %}"></a>
		{% endif %}
		
		{% if perms.auth.can_book and not perms.auth.can_admin %}
		<!--This is the Roster Icon-->
			<a href="/roster" class="nav-items"><img class='icon' src="{% static 'images/roster_icon.PNG' %}"></a>
		{% endif %}
		
		{% if perms.auth.can_book and not perms.auth.can_admin %}
		<!--This is the Venue Icon-->
			<a href="/venue" class="nav-items"><img class='icon' src="{% static 'images/venue_icon.PNG' %}"></a>
		{% endif %}
		
		{% if perms.auth.can_admin %}
		<!--This is the Admindash Icon-->
			<a href="/" class="nav-items"><img class='icon' src="{% static 'images/admindash_icon.PNG' %}"></a>
			<a href="/metrics" class="nav-items"><img class='icon' src="{% static 'images/metric_icon.PNG' %}"></a>
		{% endif %}
		
	{% else %}
		<a href="/users/login_user" class="nav-items">Login</a>
		<img src="{% static 'images/blank.PNG' %}" class="icon">
	{% endif %}
</div>

<script>
//display user popup menu
var popup = document.getElementById("MyPopupMenu");
var threebarclicked;

//set initial varaibles
popup.style.display="none";	

//init listeners
window.onclick=function() {AnyClick()};
document.getElementById('MyThreeBar').addEventListener('click', ThreeBarClickHandler); 

//displays user perfences drop down
function ShowUserMenu()
{
	if(popup.style.display=="none")
	{
		popup.style.display="block";
	}
	else
	{
		popup.style.display="none";
	}
}

//used to signal to anyclick that the three bar was clicked
function ThreeBarClickHandler()
{
	threebarclicked=true;
}

//hide menus when anywhere else on the screen is clicked
//exception is the three bar menu, if that is clicked, do nothing since ShowUserMenu handles toggleing
function AnyClick()
{
	//three bar nav on the left
	if(threebarclicked==false)
	{
		popup.style.display="none";
	}
	else
	{
		threebarclicked=false;
	}
}
</script>