{% extends "base.html" %}

{% block content %}

{% include 'metricbar.html' %}
<style>
table td, table td * {
	padding-right: 25px;
}
table th, table th * {
	padding-right: 25px;
}
</style>
	<br>

	<h3>Total Gigs this month : {{ total_gigs }}</h3>
	<img src="data:image/png;base64,{{ booking_ratio_graph }}" alt="" , width="500">
	<img src="data:image/png;base64,{{ gigs_per_venue_graph }}" alt="" , width="500">
	<img src="data:image/png;base64,{{ gigs_per_venue_bottom_graph }}" alt="" , width="500">
	<img src="data:image/png;base64,{{ revenue_per_genre_graph }}" alt="" , width="500">
	<img src="data:image/png;base64,{{ revenue_per_venue_graph }}" alt="" , width="500">
	<table style='text-align: left; padding-right: 20px;'>
		<tr>
			<th>Venue</th>
			<th>Number of Bookings</th>
			<th>Total Revene paid</th>
		</tr>
		{% for row in venue_bookings_table %}
		<tr>
			<td>{{ row.name }}</td>
			<td>{{ row.booking }}</td>
			<td>{{ row.payment }}</td>
		</tr>
		{% endfor %}
	</table>
	
{% endblock %}