{% extends "base.html" %}

{% block content %}

{% include 'metricbar.html' %}
	<style>
	table td, table td * {
		padding-right: 25px;
	}
	table th, table th * {
		padding-right: 25px;
	}
	</style>
	<br>

	<h3>Total users : {{ users_num.total }}</h3>


	<table style='text-align: left; padding-right: 20px;'>
		<tr>
			<th> Role </th>
			<th> Joined </th>
			<th> Logged in </th>
			<th> Not on Roster* </th>
		</tr>
		{% for row in info %}
		<tr>
			<td>{{ row.role }}</td>
			<td>{{ row.joined }}</td>
			<td>{{ row.logged }}</td>
			<td>{{ row.notroster }}</td>
		</tr>
		{% endfor %}
	</table>
	<p>*Roster status is not tracked monthly.
	
	<!--list of performers not on a roster-->
	<br><br><br>
	<table style='text-align: left; padding-right: 20px;'>
		<tr>
			<th>List of Performers Not on a Roster</th>
		</tr>
		{% for performer in sad_names_list %}
		<tr>
			<td>{{ performer }}</td>
		</tr>
		{% endfor %}
	</table>
	<br><br><br><br>
{% endblock %}